{% extends "layout.html" %}
{% block title %}Pedidos pendientes{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Pedidos pendientes</h2>
        </div>
        <div class="col-md-12">
            <ul class="list-group">
                {% for order in orders %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <span>{{ order.client.name }}({% if order.is_delivery %}{{ order.address }}{% else %}Retira en local{% endif %} - {{ order.telephone_number }})</span><span>{{ order.get_lines_description() }}</span><span>{{ order.date|format_datetime }}</span>
                    </div>
                    <div>${{ order.get_total_price() }}</div>
                    <div>
                        <form action="/mark-as-delivered/{{ order.id_order }}">
                            <submit>
                                <input type="submit" value="Actualizar como entregado">
                            </submit>
                        </form>
                    </div>
                    <div>
                        <form action="/mark-as-canceled/{{ order.id_order }}">
                            <submit>
                                <input type="submit" value="Cancelar pedido">
                            </submit>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-12">
            <div class="d-flex justify-content-end">
                <a href="{{ url_for('new_order') }}">Nuevo pedido</a>
            </div>
        </div>
    </div>
{% endblock %}
