{% extends "layout.html" %}
{% block title %}Nuevo pedido{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static', filename='js/new-order.js')}}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h4>Nuevo pedido</h4>
        <form method="post">
            <div class="form-group">
                <input type="checkbox" id="new_client" name="new_client">
                <label for="new_client">Nuevo cliente
                </label>
            </div>
            <div class="form-group">
                <input class="form-control" type="hidden" name="id_client">
            </div>
            <div class="form-group">
                <label>Nombre cliente
                </label>
                <input class="form-control" type="text" name="name">
            </div>
            <div class="form-group">
                <label>Telefono
                </label>
                <input class="form-control" type="text" name="telephone_number">
            </div>
            <div class="form-group">
                <label>Ciudad
                </label>
                <select class="form-control"  name="id_city">
                    {% for city in cities %}
                        <option value="{{ city.id_city }}">
                            {{ city.description }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Dirección
                </label>
                <input class="form-control" type="text" name="address">
            </div>
            <div class="form-group">
                <label>Fecha y hora
                </label>
                <input class="form-control" value='{{now|format_datetime("%Y-%m-%dT%H:%M")}}' type="datetime-local" name="date">
            </div>
            <div class="form-group">
                <input type="checkbox" id="is_delivery" name="is_delivery">
                <label for="is_delivery">A domicilio
                </label>
            </div>
            <div class="form-group">
                <label>Observaciones
                </label>
                <textarea class="form-control" name="observations" rows="5" placeholder="Por ejemplo, si el pollo es con chimi o limón..."></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" type="submit" value="Guardar"/>
            </div>
        </form>
    </div>
    <div id="client-list" class="col-md-6">
        <h4>Buscar cliente</h4>
        <input class="form-control" v-on:keyup="search" placeholder="Buscar por nombre, dirección o teléfono..." type="text" v-model="searchText">
        <small>Haga click en el cliente para pre-cargar datos en el pedido</small>
        <ul id="client-list-ul" class="list-group">
            <li v-for="client in clientsFiltered" class="list-group-item" v-on:click="loadClient(client)">
                <div class="d-flex justify-content-between">
                    <span>{$ client.name $}</span><span>{$ client.address $}</span>
                </div>
            </li>
        </ul>
    </div>
    </div>
{% endblock %}
