<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo pedido</title>
</head>
<body>
    <form method="post">
        <div>
            <label>ID cliente
            </label>
            <input type="number" name="id_client">
        </div>
        <div>
            <label>Dirección
            </label>
            <input type="text" name="address">
        </div>
        <div>
            <label>Fecha y hora
            </label>
            <input type="datetime-local" name="date">
        </div>
        <div>
            <input type="submit" value="Guardar"/>
        </div>
    </form>
</body>
</html>
